@charset "utf-8";

html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd,
span,
input,
textarea,
select,
button,
form,
label {
  font-family: "fot-tsukuardgothic-std", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
  "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffdf3;
  cursor: none;
  margin-top: -100px;
  position: relative;
}

a {
  cursor: none;
}

.cursor {
  background: #68b1ab;
  border-radius: 30px;
  height: 60px;
  margin: -30px 0 0 -30px;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: transform .1s;
  width: 60px;
  z-index: 5000;
}

.cursor.active {
  transform: scale(1.4);
}

#splash {
  color: #fffdf3;
  height: 100%;
  /*fixedで全面に固定*/
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;
}

/* Loading画像中央配置　*/
#splash_text {
  color: #fffdf3;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 999;
}


/*割れる画面のアニメーション*/
.loader_cover {
  background-color: #404648;
  height: 50%;
  transform: scaleY(1);
  transition: all .2s cubic-bezier(.04, .435, .315, .9);
  width: 100%;
}
/*上の画面*/
.loader_cover-up {
  transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
  bottom: 0;
  position: absolute;
  transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
  transform: scaleY(0);
}

.copy ul li {
  font-size: 24px;
  list-style: none;
  margin-bottom: 10px;
  margin-left: 50px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 220px;
  right: 50px;
}

.pc-nav {
  display: block;
  margin-right: 50px;
  text-align: right;
}
.profile nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 150px;
}
.pc-nav ul li {
  display: block;
  flex-direction: column;
  list-style: none;
  padding-bottom: 10px;
}

.pc-nav ul li a {
  color: #404648;
  cursor: none;
  font-size: 24px;
  text-decoration: none;
}

.sp-nav {
  display: none;
}
.hamburger {
  display: none;
}
.main_logo img {
  display: block;
  margin: auto;
  margin-top: 210px;
  max-width: 525px;
}

.insta_logo {
  margin: 150px 0 0 96%;
  max-width: 30px;
}

.section_works {
  background: #404648;
  border-radius: 20px 0 0 20px;
  margin-left: 60px;
  margin-top: 200px;
  padding-bottom: 50px;
}

.circle {
  background: #68b1ab;
  border-radius: 50%;
  height: 40px;
  margin-left: 80px;
  position: relative;
  top: 70px;
  width: 40px;
}

.txt_works {
  background: #404648;
  color: #fffdf3;
  left: 70px;
  position: relative;
  top: 10px;
}

.section_works ul {
  display: flex;
  justify-content: end;
  left: 50px;
  margin: 0 auto;
  margin-top: 70px;
  max-width: 1000px;
  position: relative;
}

.section_works ul li {
  font-size: 24px;
  list-style: none;
  margin-right: 50px;
}

.btn_all,
.btn_website,
.btn_bunner {
  background: #404648;
  border: 2px solid #fffdf3;
  border-radius: 50px;
  color: #fffdf3;
  max-width: 125px;
  padding: 15px 40px;
  text-align: center;
  z-index: 500;
}

.btn_all:hover,
.btn_website:hover,
.btn_bunner:hover,
.section_works ul li:hover a,
.section_works_web ul li:hover a,
.section_works_all ul li:hover a,
.footer_nav .btn_all:hover a,
.footer_nav .btn_website:hover a,
.footer_nav .btn_bunner:hover a {
  background: #fffdf3;
  color: #404648;
  cursor: none;
}

.section_works ul li a,
.section_works_web ul li a,
.section_works_all ul li a,
.footer_nav_beige .btn_all:hover a,
.footer_nav_beige .btn_bunner:hover a,
.footer_nav_beige .btn_website:hover a {
  background: #404648;
  color: #fffdf3;
  text-decoration: none;
}

.logo_works img {
  max-width: 370px;
  position: absolute;
  right: 0;
  top: 1180px;
}

.works {
  display: flex;
}

.works_left {
  margin-left: 18%;
  margin-top: 150px;
  max-width: 530px;
}

.contents_cafe img {
  max-width: 530px;
}

.contents_cafe {
  color: #404648;
  max-width: 530px;
}

.works_left p,
.works_right p {
  background-color: #404648;
  color: #fffdf3;
  margin-top: 10px;
}

.contents_workers img {
  margin-top: 150px;
  max-width: 540px;
}

.contents_workers p,
.contents_salon p {
  margin-top: 20px;
  text-align: left;
}

.contents_lux {
  margin-left: -30px;
  margin-top: 150px;
  position: relative;
}

.contents_lux img {
  max-width: 590px;
}

.lux img {
  left: 80px;
  max-width: 390px;
  position: absolute;
  top: 35px;
}

.contents_lux p {
  margin-left: 25px;
}

.works_right {
  margin-left: 100px;
  margin-top: 200px;
  max-width: 530px;
}

.contents_salon img {
  max-width: 530px;
}

.contents_pop {
  display: block;
  margin-left: 70px;
  margin-top: 130px;
  position: relative;
}

.contents_pop img {
  display: block;
  left: -90px;
  max-width: 590px;
  position: absolute;
  top: 0;
}

.res_pop img {
  display: none;
}

.res_shadow img {
  display: none;
}

.pop img {
  display: block;
  margin-left: 100px;
  margin-top: 35px;
  max-width: 370px;
}

.contents_pop p {
  left: -70px;
  position: absolute;
  top: 430px;
}

.contents_books {
  margin-top: 610px;
  position: relative;
}

.contents_books img {
  max-width: 590px;
  position: absolute;
  top: 120px;
}

.books img {
  left: 100px;
  max-width: 370px;
  position: absolute;
  top: 180px;
}

.contents_books p {
  margin-left: 0;
  position: absolute;
  top: 540px;
}

.btn_more {
  background: #404648;
  border: 2px solid #fffdf3;
  border-radius: 50px;
  color: #fffdf3;
  display: block;
  margin: 150px 0 100px 1150px;
  padding: 30px 0;
  width: 280px;
}

.btn_more p {
  padding-left: 25%;
}

.btn_more a {
  color: #fffdf3;
  text-decoration: none;
}

.arrow {
  border-bottom: 1px solid #fffdf3;
  border-right: 1px solid #fffdf3;
  display: block;
  height: 5px;
  margin-left: 60%;
  margin-top: -10px;
  transform: skew(20deg);
  width: 30px;
}

.btn_more:hover,
.btn_more:hover .arrow,
.btn_more:hover a {
  background: #fffdf3;
  border-bottom: 1px solid #404648;
  border-right: 1px solid #404648;
  color: #404648;
  cursor: none;
}


.btn_more img {
  margin-left: 30px;
  width: 30px;
}

.section_about {
  margin: auto;
  margin-top: 100px;
  max-width: 1000px;
}

.section_about circle {
  background: #68b1ab;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.txt_about {
  margin-left: 140px;
  margin-top: 40px;
}

.myphoto img {
  margin-left: 40%;
  margin-top: 150px;
  max-width: 230px;
}

.txt_about p {
  box-sizing: border-box;
  text-align: justify;
}

.name {
  display: flex;
  margin-bottom: 8px;
  margin-left: 43%;
  margin-top: 30px;
}

.miyuki {
  margin-left: 70px;
}

.japanese_miyuki {
  font-size: 24px;
  margin-left: 50px;
}

.name2,
.japanese_miyuki p {
  display: flex;
  font-size: 24px;
  margin-left: 43%;
}

.textbox {
  margin-left: 27%;
  margin-top: 50px;
  max-width: 485px;
  text-align: justify;
}

.textbox p {
  line-height: 1.7;
}

.skills {
  font-size: 24px;
  margin-left: 180px;
  margin-top: 80px;
  width: 360px;
}

.skills img {
  margin: 0 10px 0 5px;
  max-width: 25px;
  vertical-align: middle;
}

.skills p {
  margin-top: 15px;
}

.btn_profile {
  background: #fffdf3;
  border: 2px solid #404648;
  border-radius: 50px;
  display: block;
  font-size: 16px;
  margin-left: 700px;
  margin-top: -66px;
  padding: 30px 0;
  width: 280px;
}

.btn_profile .arrow {
  border-bottom: 1px solid #404648;
  border-right: 1px solid #404648;
  display: block;
  height: 5px;
  margin-left: 65%;
  margin-top: -10px;
  transform: skew(20deg);
  width: 30px;
}

.btn_profile p {
  margin-left: 30%;
}

.btn_profile a {
  color: #404648;
  text-decoration: none;
}

.btn_profile:hover,
.btn_profile:hover .arrow,
.btn_profile:hover a {
  background: #404648;
  border-bottom: 1px solid #fffdf3;
  border-right: 1px solid #fffdf3;
  color: #fffdf3;
  cursor: none;
}

.section_contact {
  background-color: #404648;
  margin-top: 180px;
}

.contact_circle {
  background: #68b1ab;
  border-radius: 50%;
  height: 40px;
  left: 150px;
  position: relative;
  top: 70px;
  width: 40px;
}

.txt_contact {
  background: #404648;
  color: #fffdf3;
  margin-left: 220px;
  margin-top: 40px;
}

.pc-contact {
  display: block;
}

.contact_wrap {
  display: flex;
  margin: auto;
  margin-top: 130px;
  max-width: 1000px;
}

label {
  color: #fffdf3;
  margin-bottom: 10px;
}

.contact p {
  color: #fffdf3;
  margin-top: 50px;
  text-align: center;
}

.sp-contact {
  display: none;
}

form p {
  line-height: 1.7;
}

#input,
#name,
#text,
#textarea,
#mail,
#contents {
  background-color: #fffdf3;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 5px 0;
}

textarea {
  height: 330px;
}

.contact__item {
  display: flex;
  flex-direction: column;
}

.contact_left {
  width: 400px;
}

.contact_right {
  margin-left: 200px;
  width: 400px;
}

.submit-btn input {
  background: #68b1ab;
  border-radius: 50px;
  color: #fffdf3;
  display: block;
  margin: auto;
  margin-top: 100px;
  padding: 15px 60px;
  text-align: center;
}

.submit-btn {
  padding-bottom: 100px;
}

.submit-btn input:hover {
  background: #fffdf3;
  color: #68b1ab;
  cursor: none;
}

.top_pc-nav,
.profile_pc-nav {
  margin-right: 50px;
  text-align: right;
}

.profile_pc-nav {
  padding-top: 100px;
}

.top_pc-nav ul li,
.profile_pc-nav ul li {
  list-style: none;
  padding-bottom: 10px;
}

.top_pc-nav ul li a,
.footer_nav_beige a {
  color: #404648;
  cursor: none;
  font-size: 24px;
  text-decoration: none;
}

.profile_pc-nav ul li a,
.footer_nav a {
  color: #fffdf3;
  font-size: 24px;
  text-decoration: none;
}


.animoBorderLeftRight,
.profile_pc-nav .animoBorderLeftRight {
  display: inline-block;
  position: relative;;
}

.animoBorderLeftRight::after {
  background-color: #404648;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform .4s cubic-bezier(.86, 0, .07, 1);
  width: 100%;;
}
.profile_pc-nav .animoBorderLeftRight::after {
  background-color: #fffdf3;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform .4s cubic-bezier(.86, 0, .07, 1);
  width: 100%;;
}

.animoBorderLeftRight:hover::after,
.profile_pc-nav .animoBorderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer_instalogo_sp {
  position: absolute;
  right: 90px;
  top: 80px;
  width: 93px;
}

.sp-home {
  display: none;
}

/* カフェサイト */

.contents_pc-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 110px;
  text-align: right;
}

.contents_pc-nav ul li {
  display: block;
  flex-direction: column;
  list-style: none;
  padding-bottom: 10px;
}

.contents_pc-nav ul li a {
  color: #404648;
  cursor: none;
  font-size: 24px;
  text-decoration: none;
}

.animoBorderLeftRight {
  cursor: none;
  display: inline-block;
  position: relative;;
}

.animoBorderLeftRight::after {
  background-color: #404648;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform .4s cubic-bezier(.86, 0, .07, 1);
  width: 100%;;
}

.animoBorderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contents_circle {
  background: #68b1ab;
  border-radius: 50%;
  height: 40px;
  margin-left: 18%;
  margin-top: -130px;
  width: 40px;
}

.txt_website {
  background: #fffdf3;
  color: #404648;
  margin-left: 21%;
  margin-top: -27px;
}

.contents_firstview {
  margin: auto;
  margin-top: 100px;
  max-width: 1000px;
  position: relative;
}

.contents_firstview p {
  font-size: 24px;
}

.cafe_svg img {
  position: absolute;
  top: 580px;
  width: 3500px;
  z-index: -1;
}

.cafe_mockup img {
  margin-left: -100px;
  margin-top: 50px;
  max-width: 1100px;
}

.contents_wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}

.contents_inner {
  background-color: #404648;
  border-radius: 20px 0 0 20px;
  color: #fffdf3;
  margin-left: 60px;
  margin-top: 150px;
}

.target img {
  margin-bottom: 10px;
  margin-top: 150px;
  max-width: 65px;
}

.target p,
.purpose p,
.term p,
.cafe_points p,
.cafe_plan ul li,
.cafe_design ul li,
.workers_points p,
.workers_plan ul li,
.workers_design ul li,
.salon_points p,
.salon_plan ul li,
.salon_design ul li,
.pop_points p,
.pop_plan ul li,
.pop_design ul li,
.lux_points p,
.lux_plan ul li,
.lux_design ul li,
.books_plan ul li,
.books_points p,
.books_design ul li {
  line-height: 1.7;
}

.purpose img,
.term img,
.language img,
.cafe_plan img,
.cafe_design img,
.salon_plan img,
.salon_design img,
.pop_plan img,
.pop_design img,
.lux_plan img,
.lux_design img,
.books_plan img,
.books_design img {
  margin-bottom: 10px;
  margin-top: 80px;
  max-width: 65px;
}

.contents_inner_right {
  margin-left: 200px;
}

.cafe_points img,
.salon_points img,
.books_points img,
.pop_points img,
.lux_points img {
  margin-bottom: 10px;
  margin-top: 150px;
  max-width: 90px;
}

.cafe_points {
  max-width: 370px;
}

.cafe_plan {
  max-width: 547px;
}

.cafe_design {
  margin-bottom: 150px;
  max-width: 547px;
}

.cafe_bottom {
  position: relative;
}

.all_cafe img {
  display: block;
  margin: auto;
  max-width: 1200px;
  padding-top: 180px;
}

.tab-wrap {
  display: none;
}

.cafe_bottom .logo_works_gray img {
  left: auto;
  max-width: 400px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.footer {
  background-color: #404648;
  border-radius: 20px 0 0 20px;
  color: #fffdf3;
  margin-left: 60px;
  margin-top: 170px;
  position: relative;
}

.res_footer_back img {
  display: none;
}

.footer_circle {
  background: #68b1ab;
  border-radius: 50%;
  height: 40px;
  left: 70px;
  position: absolute;
  top: 70px;
  width: 40px;
}

.footer p {
  background-color: #404648;
  color: #fffdf3;
  left: 130px;
  position: absolute;
  top: 80px;
}

.btn_all,
.btn_website,
.btn_bunner {
  background: #404648;
  border: 2px solid #fffdf3;
  border-radius: 50px;
  color: #fffdf3;
  justify-content: end;
  margin-top: 65px;
  max-width: 125px;
  padding: 15px 40px;
  text-align: center;
}

.footer ul li {
  font-size: 24px;
  list-style: none;
  margin-right: 50px;
}

.footer .footer_nav {
  display: flex;
  justify-content: end;
  left: 50px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.footer .pc-nav {
  margin-right: 50px;
  margin-top: -30px;
  text-align: right;
}

.footer .pc-nav ul li {
  display: block;
  flex-direction: column;
  list-style: none;
  padding-bottom: 10px;
}

.footer .pc-nav ul li a {
  color: #fffdf3;
  font-size: 24px;
}

.footer_logo img {
  display: flex;
  margin: auto;
  margin-top: 150px;
  max-width: 335px;
}

.footer_lastlogo {
  display: flex;
  margin: auto;
  margin-top: 150px;
  max-width: 360px;
  padding-bottom: 30px;
}

.footer_instalogo img {
  display: flex;
  max-width: 30px;
  position: absolute;
  right: 70px;
  top: 170px;
}

.footer_back img {
  bottom: 0;
  cursor: none;
  display: flex;
  max-width: 28%;
  position: absolute;
  right: 0;
  z-index: 100;
}

/* ワーキングスペースサイト */

.slide_workers img {
  position: absolute;
  top: 580px;
  width: 3500px;
  z-index: -1;
}

.workers_mockup img {
  margin-left: -100px;
  margin-top: 50px;
  max-width: 1100px;
}

.purpose p {
  width: 300px;
}

.purpose img,
.term img,
.workers_plan img,
.workers_design img {
  margin-bottom: 10px;
  margin-top: 80px;
  width: 67px;
}

.tool img {
  margin-bottom: 10px;
  margin-top: 80px;
  max-width: 77px;
}

.workers_points img {
  margin-bottom: 10px;
  margin-top: 150px;
  width: 86px;
}


.workers_points {
  max-width: 525px;
}

.workers_plan {
  max-width: 540px;
}

.workers_design {
  margin-bottom: 150px;
  width: 535px;
}

.all_workers img {
  display: block;
  margin: auto;
  max-width: 1200px;
  padding-top: 180px;
}

.workers_bottom {
  position: relative;
}

.workers_bottom .logo_works_gray img {
  left: auto;
  max-width: 335px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

/* サロンサイト */

.slide_salon img {
  position: absolute;
  top: 580px;
  width: 3500px;
  z-index: -1;
}

.salon_mockup img {
  margin-left: -100px;
  margin-top: 50px;
  max-width: 1100px;
}

.workers_wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}

.workers_inner {
  background-color: #404648;
  border-radius: 20px 0 0 20px;
  color: #fffdf3;
  display: flex;
  margin-left: 60px;
  margin-top: 150px;
}

.purpose p {
  width: 300px;
}

.purpose img,
.term img,
.plan img,
.design img {
  margin-bottom: 10px;
  margin-top: 80px;
  width: 67px;
}

.tool img {
  margin-bottom: 10px;
  margin-top: 80px;
  max-width: 77px;
}

.workers_inner_right {
  margin-left: 180px;
}


.salon_points {
  width: 507px;
}

.salon_plan {
  width: 500px;
}

.salon_design {
  margin-bottom: 150px;
  width: 510px;
}

.salon_bottom {
  position: relative;
}

.all_salon img {
  display: block;
  margin: auto;
  max-width: 700px;
  padding-top: 180px;
}

.salon_bottom .logo_works_gray img {
  left: auto;
  max-width: 545px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

/* インスタ資料 */

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll-infinity,
.web_scroll-infinity,
.cafe_scroll-infinity {
  animation: infinity-scroll-left 60s infinite linear .5s both;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 10%;
  width: 220%;
  z-index: -1;
}


.workers_wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}

.workers_inner {
  background-color: #404648;
  border-radius: 20px 0 0 20px;
  color: #fffdf3;
  display: flex;
  margin-left: 60px;
  margin-top: 150px;
}

.purpose p {
  width: 300px;
}

.purpose img,
.term img,
.plan img,
.design img {
  margin-bottom: 10px;
  margin-top: 80px;
  width: 67px;
}

.tool img {
  margin-bottom: 10px;
  margin-top: 80px;
  max-width: 77px;
}

.workers_inner_right {
  margin-left: 180px;
}


.books_points {
  width: 530px;
}

.books_plan {
  width: 530px;
}

.books_design {
  margin-bottom: 150px;
  width: 530px;
}

.books_bottom {
  position: relative;
}

.all_books img {
  display: block;
  margin: auto;
  max-width: 80%;
  padding-top: 180px;
}

.res_all_books img {
  display: none;
}

.books_bottom .logo_works_gray img {
  left: auto;
  max-width: 450px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

/* pop ver. */

.slide_books img {
  position: absolute;
  top: 580px;
  width: 3000px;
  z-index: -1;
}

.books_mockup img {
  max-width: 90%;
}

.items_wrap {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.logo_works_beige img {
  margin-top: -480px;
  max-width: 285px;
  position: absolute;
  right: 0;
}

.item_wide img {
  max-width: 600px;
}

.item_square img {
  margin-left: 50px;
  max-width: 340px;
}

.purpose p {
  width: 300px;
}

.purpose img,
.term img,
.plan img,
.design img {
  margin-bottom: 10px;
  margin-top: 80px;
  width: 67px;
}

.tool img {
  margin-bottom: 10px;
  margin-top: 80px;
  max-width: 77px;
}

.workers_inner_right {
  margin-left: 180px;
}


.pop_points {
  width: 540px;
}

.pop_plan {
  width: 550px;
}

.pop_design {
  margin-bottom: 150px;
  width: 550px;
}

.pop_logo_works_beige {
  max-width: 295px;
}

.footer_beige {
  background-color: #fffdf3;
  color: #fffdf3;
  margin-left: 60px;
  margin-top: 170px;
  position: relative;
}

.footer_circle {
  background: #68b1ab;
  border-radius: 50%;
  height: 40px;
  left: 70px;
  position: absolute;
  top: 70px;
  width: 40px;
}

.footer_beige p {
  color: #404648;
  left: 130px;
  position: absolute;
  top: 80px;
}

.footer_beige .btn_all,
.footer_beige .btn_website,
.footer_beige .btn_bunner {
  background: #fffdf3;
  border: 2px solid #404648;
  border-radius: 50px;
  color: #404648;
  justify-content: end;
  margin-top: 65px;
  max-width: 125px;
  padding: 15px 40px;
  text-align: center;
}

.footer_beige .btn_all:hover,
.footer_beige .btn_website:hover,
.footer_beige .btn_bunner:hover {
  background: #404648;
  border-bottom: 1px solid #fffdf3;
  border-right: 1px solid #fffdf3;
  color: #fffdf3;
  cursor: none;
}



.footer_beige ul li {
  font-size: 24px;
  list-style: none;
  margin-right: 50px;
}

.footer_beige .footer_nav_beige {
  display: flex;
  justify-content: end;
  left: 50px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.footer_beige .pc-nav_beige {
  margin-right: 50px;
  margin-top: -30px;
  text-align: right;
}

.footer_beige .pc-nav ul li {
  display: block;
  flex-direction: column;
  list-style: none;
  padding-bottom: 10px;
}

.footer_beige .pc-nav ul li a {
  font-size: 24px;
}

.footer_logo_gray img {
  display: flex;
  margin: auto;
  margin-top: 150px;
  max-width: 335px;
}

.footer_lastlogo {
  display: flex;
  margin: auto;
  margin-top: 150px;
  max-width: 360px;
  padding-bottom: 30px;
}

.footer_instalogo img {
  display: flex;
  max-width: 30px;
  position: absolute;
  right: 70px;
  top: 170px;
}

.footer_back img {
  bottom: 0;
  display: flex;
  max-width: 28%;
  position: absolute;
  right: 0;
}

/* Luxury.ver */

.lux_item_wide img {
  max-width: 610px;
}

.lux_item_square img {
  margin-left: 50px;
  max-width: 380px;
}


.lux_points {
  width: 540px;
}

.lux_plan {
  width: 525px;
}

.lux_design {
  margin-bottom: 150px;
  width: 515px;
}

.lux_logo_works_beige img {
  margin-top: -520px;
  max-width: 287px;
  position: absolute;
  right: 0;
}

/* all */

.section_works_all {
  background: #404648;
  border-radius: 20px 0 0 20px;
  margin-left: 60px;
  margin-top: 200px;
  padding-bottom: 230px;
}

.all_txt_works {
  color: #fffdf3;
  margin-left: 70px;
  position: absolute;
  top: 10px;
  width: 100px;
}

.section_works_all ul {
  display: flex;
  justify-content: end;
  left: 50px;
  margin: 0 auto;
  margin-top: 70px;
  max-width: 1000px;
  position: relative;
}

.section_works_all ul li {
  font-size: 24px;
  list-style: none;
  margin-right: 50px;
}

.all_logo_works {
  position: relative;
}

.all_logo_works img {
  max-width: 470px;
  position: absolute;
  right: 0;
  top: -220px;
}

/* website */

.section_works_web {
  background: #404648;
  border-radius: 20px 0 0 20px;
  margin-left: 60px;
  margin-top: 200px;
  padding-bottom: 230px;
}

.web_txt_works {
  color: #fffdf3;
  margin-left: 70px;
  position: absolute;
  top: 10px;
  width: 180px;
}

.section_works_web ul {
  display: flex;
  justify-content: end;
  left: 50px;
  margin: 0 auto;
  margin-top: 70px;
  max-width: 1000px;
  position: relative;
}

.section_works_web ul li {
  font-size: 24px;
  list-style: none;
  margin-right: 50px;
}

.web_logo_works {
  position: relative;
}

.web_logo_works img {
  max-width: 340px;
  position: absolute;
  right: 0;
  top: -220px;
}

/* バナー */

.bunner {
  color: #fffdf3;
  display: flex;
  margin: auto;
  max-width: 1000px;
  padding-bottom: 580px;
}

.bunner_txt_works {
  color: #fffdf3;
  margin-left: 70px;
  position: absolute;
  top: 10px;
  width: 180px;
}

.bunner_left {
  margin-left: -80px;
}

.bunner .contents_lux {
  margin-top: 150px;
}

.bunner .contents_books {
  margin-left: -30px;
  margin-top: 70px;
}

.bunner_right p {
  width: 300px;
}

.bunner_right {
  margin-left: 50px;
  margin-top: 80px;
}

.bunner_logo_works {
  position: relative;
}

.bunner_logo_works img {
  max-width: 363px;
  position: absolute;
  right: 0;
  top: -220px;
}

/* プロフィール */

.profile_firstview {
  display: flex;
  margin: auto;
  margin-top: 100px;
  max-width: 870px;
}

.profile_firstview img {
  max-width: 230px;
}

.profile_firstview p {
  font-size: 16px;
  line-height: 1.8;
  margin-left: 100px;
  margin-top: 200px;
  width: 530px;
}

.content {
  margin: auto;
  margin-top: 50px;
  max-width: 50%;
}

.pie-chart-wrap {
  display: flex;
  justify-content: space-between;
}

svg {
  height: 220px;
  width: 220px;
}

svg circle {
  fill: none;
  stroke: #f3f3f3;
  stroke-dasharray: 570;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 20;
}

svg circle.line {
  stroke: #68b1ab;
  stroke-dashoffset: calc(570 - (570 * 35) / 100);
}

.box_snowboard .percent svg,
.box_touring .percent svg,
.box_work .percent svg,
.box_passion .percent svg {
  transform: rotate(-90deg);
}

.box_touring svg circle.line {
  stroke: #68b1ab;
  stroke-dashoffset: calc(570 - (570 * 49) / 100);
}

.box_work svg circle.line {
  stroke: #68b1ab;
  stroke-dashoffset: calc(570 - (570 * 70) / 100);
}

.box_passion svg circle.line {
  stroke: #68b1ab;
  stroke-dashoffset: calc(570 - (570 * 100) / 100);
}

.line {
  animation: circleAnim 1.5s forwards;
}
@keyframes circleAnim {
  0% {
    stroke-dasharray: 0 570;
  }
  99.9%,
  to {
    stroke-dasharray: 570 570;
  }
}

.sp-content {
  display: none;
}


.box_snowboard,
.box_touring,
.box_work,
.box_passion {
  position: relative;
}

.title,
.title1 {
  left: 68px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 90px;
}

.title2 {
  left: 95px;
  margin: auto;
  position: absolute;
  top: 105px;
}

.title3 {
  left: 85px;
  margin: auto;
  position: absolute;
  top: 105px;
}

.career {
  background: #404648;
  border-radius: 20px 0 0 20px;
  color: #fffdf3;
  margin-left: 60px;
  margin-top: 200px;
}

.career_wrap {
  display: flex;
  margin: auto;
  max-width: 1000px;
  padding-top: 160px;
}

.pc-carrer {
  align-self: flex-start;
  display: block;
  max-width: 30px;
}

.sp-carrer {
  display: none;
}

.res_career_left {
  display: none;
}

.career p {
  line-height: 1.7;
}

.career_left {
  margin-left: 20px;
}

.career_left p {
  padding-bottom: 180px;
}

.career_right {
  margin-left: 80px;
}

.box1,
.box_2 {
  margin-bottom: 100px;
  width: 490px;
}

.box_3 {
  display: none;
}

.skill_wrap {
  display: flex;
  margin: auto;
  margin-top: 200px;
  max-width: 900px;
}

.skill_left,
.skill_right {
  display: block;
  text-align: center;
}

.skill_right {
  margin-left: 200px;
}

.skill_right img {
  margin-top: 15px;
  max-width: 210px;
}

.skill_wrap p,
.skill_left img,
.skill_right img {
  margin-bottom: 40px;
}

.skill_title {
  font-size: 24px;
}

.skill_left img {
  margin-bottom: 40px;
  max-width: 170px;
}

.box2,
.box3 {
  line-height: 1.7;
  text-align: start;
}

.box2 {
  width: 370px;
}

.box3 {
  width: 355px;
}

.footer_insta_sp {
  position: absolute;
  right: 90px;
  top: 180px;
  width: 93px;
}

/* サンクスページ */
.thanks {
  position: relative;
}

h1 {
  font-size: 24px;
  line-height: 1.7;
  margin-top: 25%;
  text-align: center;
}

.back {
  margin-top: 27%;
  max-width: 1920px;
  position: relative;
}

.back img {
  bottom: 0;
  max-width: 30%;
  position: absolute;
  right: 0;
}



@media screen and (max-width: 1100px) {
  .section_works {
    padding-bottom: 130px;
  }

  .works_left,
  .works_right {
    margin: auto ;
    margin-left: 50px;
    margin-top: 100px;
    z-index: 2;
  }

  .works_right {
    margin-left: 0;
    margin-top: 130px;
  }
  .logo_works img {
    max-width: 320px;
  }
  .btn_more {
    margin: auto;
    margin-top: 200px;
  }

  .section_works ul li {
    font-size: 16px;
    max-width: 200px;
  }

  .section_works ul {
    margin-right: 50px;
  }


  .myphoto img {
    display: block;
    margin: auto;
    margin-top: 10%;
  }

  .name {
    display: flex;
    margin-bottom: 8px;
    margin-left: 40%;
    margin-top: 30px;
  }

  .name2,
  .japanese_miyuki p {
    display: flex;
    font-size: 24px;
    margin-left: 40%;
  }

  .txt_contact {
    margin-left: 15%;
  }

  .textbox {
    margin: auto;
    margin-top: 70px;
    width: 510px;
  }
  .btn_profile {
    margin-left: 580px;
  }
  .contact p {
    margin-top: 100px;
  }
  .contact_wrap {
    display: block;
  }

  .contact_left,
  .contact_right {
    margin: auto;
  }

  .contact__item {
    margin-bottom: 15px;
  }

  .footer_beige {
    background-color: #fffdf3;
    color: #fffdf3;
    margin: auto;
    margin-top: 70px;
  }

  .contact_circle {
    margin-left: -45px;
  }

  .contents_circle {
    margin-left: 15%;
  }

  .content {
    margin-left: 10%;
  }

  .pc-carrer {
    margin-left: 75px;
  }

  .box1,
  .box_2,
  .box_3 {
    padding-bottom: 35px;
    width: 90%;
  }

  .career_right {
    max-width: 50%;
  }

  .sp-carrer {
    display: none;
  }

  /* インスタ */
  .contents_firstview p {
    font-size: 16px;
    margin-left: 200px;
  }

  .scroll-infinity {
    width: 300%;
  }

  .contents_wrap {
    margin-left: 80px;
  }
  .contents_inner_right {
    margin-left: 50px;
  }

  .books_bottom .logo_works_gray img {
    max-width: 25%;
  }

  /* website */
  .section_works_web ul {
    margin-right: 50px;
  }
  .section_works_web .works {
    display: flex;
    margin-left: 10%;
  }

  .section_works_web .contents_cafe img,
  .section_works_web .contents_workers img,
  .section_works_web .contents_salon img,
  .section_works .contents_cafe img,
  .section_works .contents_workers img,
  .section_works .contents_salon img {
    max-width: 80%;
  }
  .section_works .contents_pop img {
    margin-top: 10px;
    max-width: 100%;
  }
  .contents_pop .pop img {
    margin-left: 65px;
    /* max-width: 65%; */
  }
  .web_logo_works img {
    max-width: 25%;
  }
  .item_wide img {
    max-width: 400px;
  }
  .item_square img {
    max-width: 230px;
  }
  .lux_item_wide img {
    max-width: 450px;
  }
  .lux_item_square img {
    max-width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .contact_circle {
    margin-left: -95px;
  }
  .pc-nav,
  .contents_pc-nav {
    display: none;
  }

  .hamburger {
    display: block;
    height: 55px;
    position: absolute;
    right: 50px;
    top: 0;
    z-index: 3000;
  }

  .hamburger span {
    background: #404648;
    display: block;
    height: 2px;
    position: relative;
    top: 10px;
    transition: .3s;
    width: 55px;
  }

  .hamburger span::before,
  .hamburger span::after {
    background: #404648;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    position: absolute;
    transition: .3s;
    width: 55px;
  }

  .hamburger span::before {
    bottom: 20px;
  }

  .hamburger span::after {
    top: 20px;
  }

  .open span {
    background: transparent;
  }

  .open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  .open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  .sp-nav {
    background: rgba(0, 0, 0, .8);
    height: 100vh;
    left: 0;
    position: absolute;
    top: -110px;
    width: 100%;
    z-index: 3000;
  }

  .sp-nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    list-style: none;
  }

  .sp-nav ul li {
    background: #404648;
    border: 2px solid #fffdf3;
    border-radius: 50px;
    color: #fffdf3;
    font-size: 24px;
    margin-bottom: 40px;
    padding: 15px 60px;
    text-align: center;
  }

  .sp-nav ul li a {
    color: #fffdf3;
    text-decoration: none;
  }

  .works {
    display: block;
  }

  .works_right,
  .works_left {
    margin-left: 150px;
  }
  .section_works {
    padding-bottom: 150px;
  }
  .btn_more {
    margin-top: 650px;
  }
  .contents_circle {
    height: 30px;
    margin-left: 13%;
    margin-top: 100px;
    width: 30px;
  }

  .profile_firstview {
    display: block;
    margin-top: 100px;
  }

  .profile img {
    display: block;
    margin: auto;
  }

  .profile_firstview p {
    margin-left: 18%;
    margin-top: 70px;
  }

  .content {
    display: none;
  }

  .sp-content {
    display: block;
    margin-top: 100px;
  }

  .bar-graph-wrap {
    height: 500px;
    overflow: hidden;
    position: relative;
  }
  .bar-graph-wrap .graph {
    -wbkit-animation: graphAnim 1.5s forwards;
    align-items: center;
    animation: graphAnim 1.5s forwards;
    border-radius: 10px;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    height: 25px;
    justify-content: space-between;
    left: 3%;
    padding: 10px;
    position: absolute;
  }
  .bar-graph-wrap .graph span {
    color: #fffdf3;
    font-size: 16px;
  }
  .bar-graph-wrap .graph {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .bar-graph-wrap .graph.snowboard {
    background: #68b1ab;
    top: 5%;
    width: 35%;
  }
  .bar-graph-wrap .graph.touring {
    background: #68b1ab;
    top: 20%;
    width: 45%;
  }
  .touring-name {
    top: 20%;
  }
  .bar-graph-wrap .graph.work {
    background: #68b1ab;
    top: 35%;
    width: 60%;
  }
  .bar-graph-wrap .graph.passion {
    background: #68b1ab;
    top: 50%;
    width: 90%;
  }

  .bar-graph-wrap .graph span {
    font-size: 14px;
  }

  @-webkit-keyframes graphAnim {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

  @keyframes graphAnim {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }


  .sp-contact {
    display: none;
  }

  .contact_wrap {
    margin: auto;
    margin-left: 15%;
    margin-top: 80px;
  }

  .contact__item {
    max-width: 300px;
  }

  .career {
    border-radius: 0;
    margin-left: 0;
    margin-top: 0;
    position: relative;
  }

  .career p {
    font-size: 14px;
  }
  .career_wrap {
    flex-direction: column;
    left: 130px;
    position: absolute;
    top: 0;
  }

  .career_right {
    position: absolute;
    top: 250px;
  }

  .box1,
  .box_2 {
    padding-bottom: 80px;
    width: 410px;
  }

  .box_2 {
    padding-top: 50px;
  }

  .pc-carrer {
    display: none;
  }

  .sp-carrer {
    display: block;
    margin-left: 100px;
    max-width: 15px;
    padding-bottom: 370px;
    padding-top: 160px;
  }

  .career_left p {
    padding-bottom: 275px;
  }

  .skill_wrap {
    display: block;
  }

  .box2,
  .box3 {
    margin: auto;
    width: 325px;
  }


  .skill_right {
    margin-left: 0;
  }

  .footer_back img,
  .profile_pc-nav,
  .footer_insta_sp {
    display: none;
  }

  .footer {
    border-radius: 0;
    margin-left: 0;
    position: relative;
  }

  .res_footer_back img {
    bottom: 0;
    display: block;
    left: 0;
    max-width: 100px;
    position: absolute;
  }
  .footer_logo {
    padding-top: 120px;
  }
  .footer .footer_nav,
  .footer_nav_beige {
    padding-top: 60px;
  }
  .footer_instalogo img {
    display: none;
  }
  .contents_wrap {
    display: block;
    margin: auto;
  }
  .workers_inner_left,
  .contents_inner_left {
    margin-left: 10%;
  }
  .contents_inner_right {
    margin-left: 10%;
    padding-bottom: 5px;
  }
  .all_books img {
    display: none;
  }
  .res_all_books img {
    display: block;
    margin: auto;
    margin-top: 100px;
    max-width: 80%;
  }
  .books_bottom .logo_works_gray img {
    max-width: 43%;
  }
  .scroll-infinity {
    top: 7%;
    width: 400%;
  }
  .contents_firstview p {
    margin-left: 15%;
  }
  .section_works_web ul li {
    font-size: 16px;
  }
  .section_works_web .works {
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 375px) {
  .header-wrap {
    margin-top: 0;
    padding-top: 130px;
  }
  .copy ul li {
    font-size: 16px;
    margin-left: 30px;
  }

  .insta_logo {
    margin: 150px 0 0 90%;
    max-width: 30px;
  }

  .main_logo img {
    display: block;
    margin: auto;
    margin-top: 210px;
    max-width: 210px;
  }
  .insta_logo img {
    margin-top: -100px;
    padding-bottom: 100px;
  }

  .hamburger {
    display: block;
    height: 55px;
    right: 30px;
    top: 135px;
    z-index: 9999;
  }

  .hamburger span {
    width: 33px;
  }

  .hamburger span::before,
  .hamburger span::after {
    width: 33px;
  }

  .hamburger span::before {
    bottom: 10px;
  }

  .hamburger span::after {
    top: 10px;
  }

  .open span {
    background: transparent;
  }

  .open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  .open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  .circle {
    border-radius: 50%;
    height: 30px;
    margin-left: 40px;
    position: relative;
    top: 45px;
    width: 30px;
  }


  .txt_works {
    margin-left: -20px;
    top: 4px;
  }

  .section_works {
    margin-left: 5%;
  }

  .works img {
    margin: auto;
    max-width: 270px;
  }

  .section_works ul li {
    font-size: 14px;
    margin-right: 10px;
  }
  .section_works ul {
    margin-top: 80px;
    max-width: 300px;
  }
  .footer_nav_beige li {
    display: none;
  }
  .btn_all,
  .btn_website,
  .btn_bunner {
    margin-top: 0;
    padding: 10px 20px;
  }

  .footer_beige p {
    left: 70px;
    top: 57px;
  }
  .contents_workers {
    margin-top: 70px;
  }

  .works_left,
  .works_right,
  .all_books,
  .bunner_left,
  .bunner_right {
    margin: auto;
    margin-left: 55px;
    margin-top: 50px;
  }

  .contents_salon {
    padding-top: 30px;
  }

  .contents_pop {
    display: block;
    margin: auto;
    margin-left: 110px;
    margin-top: 45px;
  }

  .pop img,
  .contents_pop img {
    display: none;
  }

  .section_works .res_shadow img,
  .res_pop img {
    display: block;
  }

  .section_works .contents_pop img {
    margin-top: -10px;
  }
  .section_works .res_shadow img {
    margin-left: -15px;
    max-width: 550px;
  }
  .section_works .res_pop img {
    margin-left: -10px;
    max-width: 530px;
  }

  .contents_pop p {
    font-size: 16px;
    margin: auto;
    margin-left: -40px;
    top: 230px;
  }

  .btn_more {
    margin-top: 400px;
    padding: 17px 0 20px;
    width: 200px;
  }

  .arrow {
    margin-left: 68%;
    width: 20px;
  }

  .section_works {
    padding-bottom: 100px;
  }
  .logo_works img {
    display: none;
  }
  .myphoto img {
    max-width: 120px;
  }

  .txt_about {
    margin-left: 90px;
    margin-top: 22px;
  }

  .name {
    margin-left: 30%;
  }
  .name2 {
    margin-left: 28%;
  }


  .textbox p {
    font-size: 13px;
  }

  .btn_profile {
    max-width: 220px;
    padding: 17px 0 20px;
  }

  .btn_profile .arrow {
    margin-left: 67%;
    width: 20px;
  }

  .contents_circle {
    height: 30px;
    margin-left: 10%;
    top: 45px;
    width: 30px;
  }

  .contact_circle {
    height: 30px;
    margin-left: -115px;
    top: 45px;
    width: 30px;
  }

  .txt_contact {
    margin-left: 80px;
    margin-top: 22px;
  }

  .top_pc-nav {
    display: none;
  }

  .footer_logo_gray img,
  .footer_lastlogo {
    max-width: 210px;
  }

  .footer_instalogo_sp img {
    max-width: 70px;
  }

  .footer_instalogo_sp {
    position: absolute;
    right: 54px;
  }

  .footer_beige {
    position: relative;
  }

  .sp-home img {
    bottom: 0;
    max-width: 50px;
    position: absolute;
  }

  .sp-contact {
    display: block;
  }
  .pc-contact,
  .all_logo_works {
    display: none;
  }

  .contact_wrap {
    margin-left: 10%;
  }

  .profile_firstview p {
    font-size: 13px;
    margin: auto;
    margin-top: 70px;
    width: 285px;
  }

  .profile img {
    max-width: 150px;
  }

  .sp-carrer {
    margin-left: 30px;
  }
  .sp-carrer {
    max-width: 17px;
  }
  .career_wrap {
    left: 55px;
  }
  .career_left {
    display: none;
  }
  .res_career_left {
    display: block;
  }
  .res_career_left p {
    padding-bottom: 298px;
  }
  .career_right {
    margin-left: 10px;
  }
  .career_right  p {
    margin-bottom: 0;
    padding-bottom: 180px;
    width: 260px;
  }
  .box_2 {
    margin-top: -80px;
  }
  .box2,
  .box3 {
    width: 285px;
  }
  .skill_left img,
  .skill_right img {
    margin-bottom: 20px;
  }
  .footer_logo img {
    max-width: 170px;
  }
  .footer_lastlogo {
    max-width: 160px;
  }
  .res_footer_back img {
    max-width: 60px;
  }
  .footer_circle {
    height: 30px;
    left: 30px;
    top: 50px;
    width: 30px;
  }
  .footer p {
    left: 70px;
    top: 58px;
  }
  .footer_logo img {
    margin-top: 100px;
  }
  .sp-home {
    display: block;
  }

  .contents_firstview p {
    font-size: 14px;
    margin-top: -50px;
    padding-bottom: 50px;
  }

  .contents_inner {
    border-radius: 0;
    margin-left: 0;
  }
  .books_points p,
  .books_plan,
  .books_design,
  .lux_points p,
  .lux_plan,
  .lux_design,
  .pop_points p,
  .pop_plan,
  .pop_design,
  .cafe_points p,
  .cafe_plan,
  .cafe_design,
  .salon_points p,
  .salon_plan,
  .salon_design,
  .workers_plan,
  .workers_points p,
  .workers_design {
    width: 300px;
  }
  .footer .footer_nav {
    display: none;
  }
  .section_works_web,
  .section_works,
  .section_works_all {
    border-radius: 0;
    margin-left: 0;
    margin-top: 0;
  }
  .web_txt_works {
    margin-left: 40px;
    top: 5px;
  }
  .section_works_web ul li,
  .section_works_all ul li {
    font-size: 14px;
    margin-right: 10px;
  }
  .section_works_web ul,
  .section_works_all ul {
    left: 0;
    margin-right: 10px;
  }

  .bunner,
  .bunner .res_shadow img,
  .pop img {
    display: block;
  }
  .pc-shadow,
  .bunner_logo_works,
  .logo_works_beige img {
    display: none;
  }
  .bunner .res_shadow img {
    max-width: 580px;
  }
  .lux img,
  .books img {
    margin-left: -80px;
    max-width: 230px;
  }
  .lux img {
    top: -250px;
  }
  .books img {
    top: -230px;
  }
  .contents_pop .pop img {
    left: 0;
    margin-left: -90px;
    margin-top: 0;
    max-width: 200px;
  }
  .bunner_left
  .bunner_right {
    margin: auto;
    margin-left: 15%;
  }

  .bunner_right {
    padding-top: 650px;
  }
  .contents_lux,
  .bunner .contents_books {
    margin-left: 0;
  }
  .contents_lux p {
    margin-left: 0;
  }
  .contents_lux {
    margin-top: 300px;
  }
  .contents_books img {
    display: none;
  }
  .books img,
  .contents_books p {
    display: block;
  }
  .contents_books p {
    top: 0;
  }
  .items_wrap {
    display: block;
  }
  .lux_item_wide img {
    margin-left: 25px;
    max-width: 300px;
  }
  .lux_item_square img {
    max-width: 250px;
  }
  .item_wide img {
    margin-left: 55px;
    max-width: 250px;
    max-width: a
    ;
  }
  .item_square img {
    margin: auto;
    margin-left: 80px;
    margin-top: 30px;
    max-width: 200px;
  }
  .lux_logo_works_beige img {
    display: none;
  }
  .cafe_mockup img,
  .salon_mockup img {
    margin-left: -10px;
    margin-top: 0;
    max-width: 360px;
  }
  .workers_mockup img {
    margin-left: 0;
    margin-top: 0;
    max-width: 380px;
  }
  .workers_inner_right {
    margin-left: 10%;
    margin-top: -50px;
  }
  .workers_design {
    padding-bottom: 120px;
  }
  .contents_inner_left .tool {
    margin-left: 50%;
    margin-top: -65px;
  }
  .contents_inner_left .tool img {
    margin-top: 0;
    padding-bottom: 13px;
  }
  .contents_inner_right {
    margin-top: -50px;
  }
  .logo_works_gray img {
    display: none;
  }

  .all_cafe,
  .all_workers {
    display: none;
  }
  .tab-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 100px;
  }
  .tab-label {
    background: #fffdf3;
    border-radius: 50px;
    color: #404648;
    cursor: none;
    flex: 1;
    margin: 0 20px;
    order: -1;
    padding: 15px 20px 15px 5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
  }
  .tab-label:not(:last-of-type) {
    margin-right: 5px;
  }
  .tab-content,
  .tab-content02 {
    height: 0;
    opacity: 0;
    overflow: hidden;
    width: 100%;
  }
  .tab-content img,
  .tab-content02 img {
    display: block;
    margin: auto;
    margin-top: 20px;
    max-width: 300px;
  }
  .tab-content02 img {
    padding-left: 25px;
  }
  .tab-switch:checked + .tab-label {
    background: #68b1ab;
    opacity: .7;
  }
  .tab-switch:checked + .tab-label + .tab-content,
  .tab-switch:checked + .tab-label + .tab-content02 {
    height: auto;
    opacity: 1;
    overflow: auto;
    padding: 15px;
    transition: .5s opacity;
  }
  .tab-switch {
    display: none;
  }
  .arrow-bottom::before,
  .arrow-bottom02::before {
    border-right: 1px solid #404648;
    border-top: 1px solid #404648;
    content: "";
    display: block;
    height: 10px;
    margin-left: 60px;
    margin-top: -13px;
    transform: rotate(135deg);
    width: 10px;
  }
  .btn_forpc:hover .arrow-bottom::before,
  .btn_forsp:hover .arrow-bottom02::before {
    border-right: 1px solid #fffdf3;
    border-top: 1px solid #fffdf3;
    transform: rotate(135deg);
  }
  .arrow-bottom::before {
    margin-left: 105px;
  }
  .arrow-bottom02::before {
    margin-left: 115px;
  }
  .web_scroll-infinity,
  .cafe_scroll-infinity {
    top: 6%;
    width: 400%;
  }
  .all_salon img {
    margin-top: -80px;
    max-width: 330px;
  }

  .bunner .contents_lux {
    margin-top: 300px;
  }
  .bunner .contents_books {
    margin-top: 300px;
  }
  .bunner .bunner_right {
    padding-top: 10px;
  }
  .bunner .pop img {
    margin-top: 0;
  }
  .section_works_web {
    padding-bottom: 100px;
  }
  .bunner {
    padding-bottom: 300px;
  }
  .section_works_all {
    padding-bottom: 150px;
  }
  .bunner_txt_works,
  .all_txt_works {
    margin-left: 40px;
    top: 6px;
  }
}
